[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
  ignore = untracked
[submodule ".vim/bundle/EnhancedCommentify.git"]
	path = .vim/bundle/EnhancedCommentify.git
	url = git://github.com/hrp/EnhancedCommentify.git
  ignore = untracked
[submodule ".vim/bundle/matchit.git"]
	path = .vim/bundle/matchit.git
	url = git://github.com/tsaleh/vim-matchit.git
  ignore = untracked
[submodule ".vim/bundle/perldoc-vim.git"]
	path = .vim/bundle/perldoc-vim.git
	url = git://github.com/hotchpotch/perldoc-vim.git
  ignore = untracked
[submodule ".vim/bundle/surround.git"]
	path = .vim/bundle/surround.git
	url = git://github.com/vim-scripts/surround.vim.git
  ignore = untracked
[submodule ".vim/bundle/endwise.git"]
	path = .vim/bundle/endwise.git
	url = git://github.com/vim-scripts/endwise.vim.git
  ignore = untracked
[submodule ".vim/bundle/vim-ruby.git"]
	path = .vim/bundle/vim-ruby.git
	url = git://github.com/vim-ruby/vim-ruby.git
  ignore = untracked
[submodule ".vim/bundle/vim-rails.git"]
	path = .vim/bundle/vim-rails.git
	url = git://github.com/tpope/vim-rails.git
  ignore = untracked
[submodule ".vim/bundle/neocomplcache.git"]
	path = .vim/bundle/neocomplcache.git
	url = git://github.com/Shougo/neocomplcache.git
  ignore = untracked
[submodule ".vim/bundle/YankRing.git"]
	path = .vim/bundle/YankRing.git
	url = git://github.com/vim-scripts/YankRing.vim.git
  ignore = untracked
[submodule ".vim/bundle/Align.git"]
	path = .vim/bundle/Align.git
	url = git://github.com/vim-scripts/Align.git
  ignore = untracked
[submodule ".vim/bundle/vim-ref.git"]
	path = .vim/bundle/vim-ref.git
	url = git://github.com/thinca/vim-ref.git
  ignore = untracked
[submodule ".vim/bundle/sudo.vim.git"]
	path = .vim/bundle/sudo.vim.git
	url = git://github.com/vim-scripts/sudo.vim.git
  ignore = untracked
[submodule ".vim/bundle/buftabs.git"]
	path = .vim/bundle/buftabs.git
	url = git://github.com/vim-scripts/buftabs.git
  ignore = untracked
[submodule ".vim/bundle/ctrlp.vim.git"]
	path = .vim/bundle/ctrlp.vim.git
	url = git://github.com/kien/ctrlp.vim.git
  ignore = untracked
[submodule ".vim/bundle/jscomplete-vim.git"]
	path = .vim/bundle/jscomplete-vim.git
	url = git://github.com/teramako/jscomplete-vim.git
  ignore = untracked
